
.menu-icon {
    display: block;
    /* font-size: 4rem; */
  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #e5e7eb;
    padding: 20px 0;
    z-index: 10;
    text-align: center;
  }
  .logo {
    display: flex;
    /* font-size: 2rem; */
}

  .nav-links.active {
    display: flex;
  }
  
  .navbar {
  position: relative;
  flex-direction: row;
  align-items: center;
  padding: 10px 50px;
}

.nav-links {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.home {
  flex-direction: column;
  padding: 20px;
}
.features{
    width: 60%;
    margin: auto auto;
    justify-content: center;
    display: flex;
}

.home-content .text-blue-800{
    /* font-size: 5rem; */
    margin-top: 10px;
    text-align: center;
}
.home-content p{
    /* font-size: 1.5rem; */
    margin-top: 10px;
    text-align: center;
}
.home-content,
.demo-section {
  width: 100%;
}

.demo-section {
  height: auto;
  width: 70%;
  margin: auto auto;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  margin-top: 10px;
}

.demo-form {
  flex-direction: column;
  align-items: center;
  height: auto;
}
.terms{
    width:50%;
}

.demo-form input {
  width: 80%;
}

.home {
  display: flex;
  gap: 20px;
  padding: 20px 50px;
  padding-top: 50px;
  background-color: #e5e7eb;
}

.feature-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container,
.faq-container,
.form-section,
.art-section {
  width: 90%;
  padding: 20px;
}

.benefits-container {
  padding: 20px;
}

.content-box {
  width: 100%;
}

.benefit-card {
  width: 100%;
}

.benefit-img {
  width: 100%;
  height: auto;
}

.art-section{
    height: auto;
}
.art-content {
  flex-direction: column;
}

.art-details {
  width: 100%;
}

.art-image img {
  width: 100%;
}

.footer {
  flex-direction: column;
  padding: 20px;
}

.footer-left,
.footer-right {
  width: 100%;
  align-items: center;
  text-align: center;
}

.form-grid input,
.form-grid .wide-input {
  width: 90%;
}

.checkbox-wrapper {
  margin-left: 0;
  justify-content: center;
}

.submit-btn {
  width: 80%;
}
  