
.menu-icon {
    display: block;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #e5e7eb;
    padding: 20px 0;
    z-index: 10;
    text-align: center;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar {
    position: relative;
  }

.navbar {
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.home {
  flex-direction: column;
  padding: 20px;
}
.features{
    width: 100%;
    justify-content: center;
    display: flex;
}

.home-content,
.demo-section {
  width: 100%;
}

.demo-section {
  height: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.demo-form {
  flex-direction: column;
  align-items: center;
  height: auto;
}
.terms{
    width:100%;
    margin: 0 auto;
}

.demo-form input {
  width: 80%;
}

.hero {
  flex-direction: column;
  padding: 2rem 1rem;
}

.feature-card{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container,
.faq-container,
.form-section,
.art-section {
  width: 90%;
  padding: 20px;
}

.benefits-container {
  padding: 20px;
}

.content-box {
  width: 100%;
}

.benefit-card {
  width: 100%;
}

.benefit-img {
  width: 100%;
  height: auto;
}

.art-section{
    height: auto;
}
.art-content {
  flex-direction: column;
}

.art-details {
  width: 100%;
}

.art-image img {
  width: 100%;
}

.footer {
  flex-direction: column;
  padding: 20px;
}

.footer-left,
.footer-right {
  width: 100%;
  align-items: center;
  text-align: center;
}

.form-grid input,
.form-grid .wide-input {
  width: 90%;
}

.checkbox-wrapper {
  margin-left: 0;
  justify-content: center;
}

.submit-btn {
  width: 80%;
}
  