html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

  /* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

/* Navbar Styles */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #1e3a8a;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #e5e7eb;
}

.logo {
    display: flex;
}

.text-blue-950 {
    color: #1e3a8a;
}

.text-blue-400 {
    color: #60a5fa;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links a {
    text-decoration: none;
}

.whatsapp-btn {
    background-color: white;
    color: #1e40af;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* Home Section Styles */
.home {
    display: flex;
    gap: 20px;
    padding: 20px 50px;
    padding-top: 50px;
    background-color: #e5e7eb;
}

.home-content {
    width: 50%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-content p{
    font-size: 1.2rem;
}

.text-blue-800 {
    color: #1e40af;
    font-size: 3rem;
    font-weight: bold;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    /* background-color: black; */
    width: 70%;
}

.feature-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.feature-item img{
    width: 60px;
    height: 60px;
    background-color: #fef3c7;
    border-radius: 10px;
}

.demo-section {
    width: 50%;
    background-color: #1e3a8a;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
    align-items: center;
}
.demo-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.demo-section .terms, .demo-btn {
    margin-top: 20px;
}

.demo-section .terms{
    margin-right: 220px;
}

.demo-section .demo-btn{
    font-weight: 600;
    padding: 20px 30px;
}

.demo-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
}

.demo-form input::placeholder
  {
    color: #ddd;
  }

.demo-form input {
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    height: 60px;
    font-size: 1.2rem;
    width: 250px;
    background-color: transparent;
    color: white;
}

.terms {
    display: flex;
    gap: 10px;
    align-items: center;
}

.text-amber-300 {
    color: #fbbf24;
}

.demo-btn {
    background-color: white;
    color: #1e3a8a;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

/* hero section */

.hero {
    display: flex;
    color: black;
    background-color: #f3f4f6; 
    width: 100%;
    padding: 2.5rem 15rem; 
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.75rem; 
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 0.75rem; 
    padding: 2.5rem; 
    align-items: center;
    border-radius: 1rem; 
    text-align: center;
  }
  
  .card-icon {
    width: 4rem; 
    height: 4rem; 
    background-color: #fde68a; 
    border-radius: 0.75rem; 
  }
  
  .card-title {
    color: #1e3a8a; 
    font-size: 1.25rem; 
    line-height: 1.75rem;
  }
  
  .card-description {
    width: 12rem; 
  }

  /* why section */

  
.container {
    width: 900px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .feature-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    transition: transform 0.2s;
  }
  
  
  .feature-img {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 16px;
    overflow: hidden;
  }
  
  .feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .feature-content {
    flex: 1;
  }
  
  .feature-title {
    font-weight: bold;
    color: #0057d9;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  
  .feature-desc {
    font-size: 0.95rem;
    color: #333;
    line-height: 1.5;
  }
  
  .more-text {
    display: none;
  }
  
  .read-more {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
    display: inline-block;
    margin-top: 6px;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }

  /* benefits section */

  .benefits-container {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 80px;
  }
  
  .content-box {
    background-color: white;
    border-radius: 12px;
    width: 70%;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .section-title {
    font-size: 3rem;
    color: #1e3a8a;
    padding: 28px 0;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .benefits-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 28px;
    width: 90%;
    margin: 0 auto;
  }
  
  .benefit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .benefit-img {
    height: 240px;
    width: 260px;
    background-color: #dbeafe; 
    border-radius: 16px;
    margin-bottom: 12px;
  }
  
  .benefit-text {
    text-align: center;
    font-size: 1.25rem;
  }
  
  .highlight {
    color: #1d4ed8; 
  }

  /* faq section */

  
.faq-container {
    width: 950px;
    margin: 40px auto;
    background-color: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
  }
  
  .faq-title {
    font-size: 2rem;
    color: #1e3a8a;
    margin-bottom: 20px;
  }
  
  .faq-image {
    width: 100%;
    height: 300px;
    background-color: yellow;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .accordion-container {
    text-align: left;
  }
  
  .accordion-item {
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
  }
  
  .accordion-header {
    width: 100%;
    padding: 16px;
    text-align: left;
    font-weight: 500;
    background: #f9fafb;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    position: relative;
  }
  
  .accordion-header::after {
    content: '\25BC';
    font-size: 0.8rem;
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
  }
  
  .accordion-header.active::after {
    transform: rotate(180deg);
  }
  
  .accordion-body {
    display: none;
    padding: 15px 20px;
    font-size: 0.95rem;
    color: #4b5563;
    background: #ffffff;
  }
  
  .load-more {
    margin-top: 20px;
    background-color: transparent;
    color: #1d4ed8;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  /* form demo section */

  
.form-section {
    width: 65%;
    margin: 40px auto;
    padding: 40px 20px;
    background-color: #0f1a44;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
  }
  
  .form-subtitle {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .highlight {
    color: #facc15; 
  }
  
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .form-grid input{
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px 16px;
    font-size: 1.1rem;
    width: 350px;
    background-color: transparent;
    color: white;
  }
  
  .form-grid input::placeholder,
  .form-grid textarea::placeholder {
    color: #ddd;
  }

  .form-grid .wide-input{
    width: 75%;
    height: 50px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 12px 16px;
    font-size: 1.1rem;
    background-color: transparent;
    color: white;
  }
  
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 12%;
  }
  .checkbox-label{
    display: flex;
    gap: 5px;
  }

  .terms {
    font-weight: bold;
    color: #facc15;
  }
  
  .submit-btn {
    width: 33%;
    margin: 0 auto;
    padding: 15px;
    font-size: 1.3rem;
    color: #0f1a44;
    background-color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit-btn:hover {
    background-color: #e0e0e0;
  }

/* managing section */


.art-section {
    background-color: #fff;
    border-radius: 20px;
    width: 65%;
    height: 400px;
    margin: 40px auto;
    padding: 10px 70px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .art-section h1 {
    font-size: 2.5rem;
    color: #0044cc;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .art-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
    line-height: 2;
  }
  
  .art-image img {
    background-color: yellow;
    border-radius: 10px;
    width: 40%;
  }
  
  .art-details {
    width: 50%;
  }
  
  .art-details ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #333;
  }
  
  #readMoreBtn {
    color: #0077cc;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    margin-top: 5px;
  }
  
  .hidden {
    display: none;
  }
  
  #demoBtn {
    padding: 12px 25px;
    font-size: 1.1rem;
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  #demoBtn span {
    margin-left: 10px;
  }
  
  #demoBtn:hover {
    background: linear-gradient(to right, #009ec3, #006699);
  }

  /* footer section */

  
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #e2e8f0; /* Tailwind's gray-300 */
    padding: 40px;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .footer-left {
    width: 880px;
    /* background-color: #1e3a8a; Tailwind's blue-950 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer-logo {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .text-blue-dark {
    color: #1e3a8a; /* Tailwind's blue-950 */
    font-size: 2.5rem;
    font-weight: 800;
  }
  
  .text-blue-light {
    color: #60a5fa; /* Tailwind's blue-400 */
    font-size: 2.5rem;
    font-weight: 800;
  }
  
  .footer-policy {
    color: #2563eb; /* Tailwind's blue-600 */
    font-size: 14px;
    width: 80%;
    margin-top: 20px;
    text-align: left;
  }
  
  .footer-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .footer-right h3 {
    font-size: 1.8rem;
    color: #1e3a8a;
  }
  
  .phone-input {
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #374151; /* Tailwind's gray-700 */
    border-radius: 12px;
  }
  
  #bookBtn {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #1e3a8a; /* Tailwind's blue-950 */
    color: white;
    border: none;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  #bookBtn:hover {
    background-color: #1d4ed8;
  }